{% extends "parent/layout.htm" %}

{% block page_title %}Home - PSDI Organic Toolkit{% endblock %}

{% block head %}
{{ super() }}

{% endblock %}

{% block hero_title %}PSDI Organic Toolkit{% endblock %}

{% block inner_content %}
<ul>
  <li>
    <strong><a href="https://psdi-uk.github.io/psdi-variability-plot/">PSDI Variability Plot Generator</a>:</strong> Web
    tool to produce plots that describe the reproducibility of a numerical reaction outcome. The generated scatterplots
    display mean values and confidence intervals and can be exported to use in your supplementary information.
  </li>
  <li>
    <strong><a href="https://psdi-uk.github.io/psdi-glorius-plot/">PSDI Glorius Plot Generator</a>:</strong> Web tool to
    visualise the sensitivity of a given chemical transformation to user-defined reaction conditions. The output plots
    are closely based on an <a href="https://onlinelibrary.wiley.com/doi/10.1002/anie.201901935" target="_blank">
      original concept from the Glorius research group</a>.
  </li>
</ul>
{% endblock %}