{% extends "parent/layout.htm" %}

{% set ga_tag = 'G-8NZ9X10QTM' %}

{% block page_title %}Home - PSDI Organic Toolkit{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
<script type="module" src="{{url_for('static', filename='js/index.js')}}"></script>
{% endblock %}

{% block hero_title %}PSDI Organic Toolkit{% endblock %}

{% block outer_content %}
<div class="secondary">
  <div class="max-width-box">
    <p>The PSDI Organic Toolkit is a suite of web apps to support organic chemistry researchers in transparent and
      high-quality data-reporting. Please click any panel below to access an app.</p>
  </div>
</div>

{{ super() }}

{% endblock %}

{% block inner_content %}

<a href="https://organic-toolkit.psdi.ac.uk/variability-plot" id="variability-link" class="tool-container">
  <div class="tool-image-container">
    <img src="{{url_for('static', filename='img/OT_T1.png')}}" alt="Example image of a generated variability plot"
      class="tool-image">
  </div>
  <div class="tool-title-and-description">
    <h2 class="tool-title">PSDI Variability Plot Generator</h2>
    <div class="tool-description">
      <p>Web tool to produce plots that describe the reproducibility of a numerical reaction outcome. The output
        scatterplots display the mean value of the outcome and its associated confidence interval.</p>
    </div>
  </div>
  <img src="{{url_for('static', filename='img/resource-container-arrow.svg')}}" alt="Arrow icon" class="resource-arrow">
</a>
<a href="https://organic-toolkit.psdi.ac.uk/glorius-plot" id="glorius-link" class="tool-container">
  <div class="tool-image-container">
    <img src="{{url_for('static', filename='img/OT_T2.png')}}" alt="Example image of a generated Glorius plot"
      class="tool-image">
  </div>
  <div class="tool-title-and-description">
    <h2 class="tool-title">PSDI Glorius Plot Generator</h2>
    <div class="tool-description">
      <p>Web tool to visualise the sensitivity of a given chemical transformation to user-defined reaction conditions.
        The output plots are closely based on an original concept from the Glorius research group.</p>
    </div>
  </div>
  <img src="{{url_for('static', filename='img/resource-container-arrow.svg')}}" alt="Arrow icon" class="resource-arrow">
</a>
{% endblock %}