<!-- This file contains the links that will appear in the top-right of the header bar -->
<a href="{{get_url('index.html')}}" class="navbar__item navbar__link">Home</a>
<a href="{{get_url('documentation.html')}}" class="navbar__item navbar__link">Documentation</a>
<a href="mailto: psdi@soton.ac.uk" class="navbar__item navbar__link" id="mail">Contact</a>
<a href="javascript:void(0)" data-cc="show-preferencesModal" class="navbar__item navbar__link" id="contact-link">Manage
  Cookie Preferences</a>